@font-face {
    font-family: 'Clacon';
    src: url('../fonts/clacon.ttf') format('truetype');
}

@import url(//fonts.googleapis.com/css2?family=Diplomata&family=Open+Sans:wght@700;800&display=swap);

html, body {
    pointer-events: none;
    font-family: 'Clacon';
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: transparent;
    vertical-align: baseline;
}

.canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

#root{
    height:100%;
    pointer-events: none;
}