@font-face {
    font-family: 'Clacon';
    src: url('../fonts/clacon.ttf') format('truetype');
}

@import url(//fonts.googleapis.com/css2?family=Diplomata&family=Open+Sans:wght@700;800&display=swap);

html, body {
    pointer-events: none;
    font-family: 'Clacon';
    margin: 0 auto;
    height: 100%;
    width: 100%;
    vertical-align: baseline;
}

body {
    overflow-x: hidden;
}

.canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

#root{
    overflow-x: hidden;
    height: 100%;
    pointer-events: none;
    /* background-color: blue; */
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-thumb {
    background: rgb(240,235,223);
    box-shadow: inset -2px -2px 2px rgb(79, 79, 79), inset 2px 2px 2px rgb(246,243,237);
}